<!DOCTYPE html>

<html lang="en">
    <head>
        <title>TODO entry</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            display: inline;
        }
    </style>
    </head>
    <body>
        <ul>
            <li>
                <a href="{% url 'encyclopedia:index' %}">Home</a>|
            </li>
            <li>
                <a href=/wiki/edit_page/{{title}}>Edit Page</a> | 
            </li>
            <li>
                <a href="{% url 'encyclopedia:index' %}"> Delete </a>
            </li>
        </ul>
        {{ entry|safe }}
    </body>
</html>
