<!DOCTYPE html>

<html lang="en">
    <head>
        <title>test</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <div>
            <a href="{% url 'encyclopedia:index' %}">Home</a></div>
        </div>
        <h1> Search Results </h1>
        <ul>
        {% for result in results %}
            <li><a href=/wiki/{{result}}>{{ result }}</a></li>   
        {% endfor %}
        </ul>
    </body>
</html>
    
